<!doctype html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>人力资源系统</title>
	<link rel="stylesheet" href="statics/css/bootstrap.min.css">
	<link rel="stylesheet" href="statics/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="statics/css/hrm.css">
	<script src="statics/js/jquery-1.10.2.min.js"></script>
	<script src="statics/js/bootstrap.min.js"></script>
	<!--[if lt IE 9]>
	<script src="statics/js/html5shiv.js"></script>
	<![endif]-->
	<script src="statics/js/hrm.js"></script>
</head>
<body>

<!-- header -->
<header>
    <a href="/system/login" class="logo"> 
    	<h1>费县农村商业银行 人力资源管理系统</h1>
    </a>

    <div class="userbar">
        <div class="logined">
            <a href="" class="username"><em class="glyphicon glyphicon-user"></em>username</a>
            <span>|</span> <a href="/system/logout" class="logout"><em
                class="glyphicon glyphicon-off"></em>退出</a>
        </div>
        <!-- menu -->
        <div class="menu">
        	<!-- 人事管理 -->        
        	<div class="btn-group">
        		<button type="button" class="btn btn-sm btn-default">人事管理</button>
        		<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        			<span class="caret"></span>
        		</button>
        		<ul class="dropdown-menu" role="menu">
        			<li>
        				<a href="#">人事档案浏览</a>
        			</li>
        			<li>
        				<a href="#">人事资料查询</a>
        			</li>
        			<li>
        				<a href="#">人事资料统计</a>
        			</li>
        		</ul>
        	</div>

        	<!-- 基础信息管理 -->        
        	<div class="btn-group">
        		<button type="button" class="btn btn-sm btn-default">基础信息管理</button>
        		<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        			<span class="caret"></span>
        		</button>
        		<ul class="dropdown-menu" role="menu">
        			<li>
        				<a href="addbranch.aspx">部门</a>
        			</li>
        			<li>
        				<a href="#">工作岗位</a>
        			</li>
        			<li>
        				<a href="#">后备人才类型</a>
        			</li>
        			<li>
        				<a href="#">员工类型</a>
        			</li>
        		</ul>
        	</div>

        	<!-- 系统管理 -->        
        	<div class="btn-group">
        		<button type="button" class="btn btn-sm btn-default">系统管理</button>
        		<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        			<span class="caret"></span>
        		</button>
        		<ul class="dropdown-menu" role="menu">
        			<li>
        				<a href="#">用户管理</a>
        			</li>
        		</ul>
        	</div>
        </div>
    </div>

</header>

<div id="main">