<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="connstring" connectionString="server = localhost; user id = root; password =; database = hrms;charset='utf8'"/>
  </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
