#include("layout/header.vm")

<nav></nav>

<div id="content">
  #if($msg)
    <div class="alert alert-success">$msg</div>
  #end
 
  <h3>部门列表</h3>
	<table class="table table-bordered table-hover">
  		<thead>
  			<tr class="warning">
  				<th width="20%">部门</th>
  				<th width="20%">网点号</th> 
  				<th>信息</th>
  				<th width="120"></th>
  			</tr>
  		</thead>
  		<tbody>
  			#foreach( $one in $list )
  			<tr data-id="$one.id">
  				<td>$!{one.branchNum}</td>
  				<td>$!{one.branchName}</td>
  				<td>$!{one.branchInfo}</td>
  				<td>
            <button href="javascript:void(0);" class="btn btn-primary btn-xs branch-edit" role="button">修改</button>
            <button href="javascript:void(0);" class="btn btn-danger btn-xs branch-del" role="button">删除</button>
          </td>
  			</tr>
  			#end
  		</tbody>
	</table>
  

  <br>
  <h3>新填部门</h3>
  <div class="pannel">
    <form action="addBranch.aspx" method="post" role="form" id="branch-form">
      <input type="hidden" name="action" value="add">
      <input type="hidden" name="parentid" value="0">
      <div class="form-group">
        <label for="branchName">部门名称</label>
        <input type="text" class="form-control" id="branchName" placeholder="请输入部门名称" name="branchName">
      </div>
      <div class="form-group">
        <label for="branchName">网点号</label>
        <input type="text" class="form-control" id="branchName" placeholder="请输入网点号" name="branchNum">
      </div>
      <div class="form-group">
        <label for="branchName">部门信息</label>
        <input type="text" class="form-control" id="branchName" name="branchInfo">
      </div>
      <button type="submit" class="btn btn-primary">新添</button>
    </form>
  </div>

</div>
<script src="statics/js/branch.js"></script>
#include("layout/footer.vm")