#include("layout/header.vm")
#include("layout/nav.vm")

<div id="content">
	<table class="table table-bordered table-hover">
  		<thead>
  			<tr>
  				<th>部门</th>
  				<th>网点号</th>
  				<th>信息</th>
  				<th width="10%"></th>
  			</tr>
  		</thead>
  		<tbody>
  			#foreach( $one in $list )
  			<tr data-id="$one.id">
  				<td>$one.branchNum</td>
  				<td>$one.branchName</td>
  				<td>$one.branchInfo</td>
  				<td>
            <button href="javascript:void(0);" class="btn btn-primary btn-xs branch-edit" role="button">修改</button>
            <button href="javascript:void(0);" class="btn btn-danger btn-xs branch-del" role="button">删除</button>
          </td>
  			</tr>
  			#end
  		</tbody>
	</table>
</div>
<script src="statics/js/branch.js"></script>
#include("layout/footer.vm")