#include("layout/header.vm")

<div id="content">
  #if($msg)
    <div class="alert alert-success">$msg</div>
  #end


<div class="quick-link">
  <button type="button" class="btn btn-default" rel="basic">基本信息</button>
  <button type="button" class="btn btn-default" rel="study">学习经历</button>
  <button type="button" class="btn btn-default" rel="family">家庭成员</button>
  <button type="button" class="btn btn-default" rel="register">证书及奖励</button>
  <button type="button" class="btn btn-default" rel="reward">奖惩记录</button>
  <button type="button" class="btn btn-default" rel="work">工作经历</button>
  <button type="button" class="btn btn-default" rel="holiday">休假记录</button>
</div>

<div id="info-basic" class="info-block">
  <h4>员工头像</h4>
  <div class="pannel">
    <img src="$!{list.Photo}">
    <input type="file" name="photo" value="">
  </div>
  <br>
  <h4>员工基本信息</h4>
  <form action="perinfo.aspx" role="form" method="post">
  <table class="table table-bordered table-hover">
        <tr class="warning">
          <th>姓名</th>
          <th>员工代号</th> 
          <th>性别</th>
          <th>民族</th>
          <th>身份证号码</th>
          <th>出生年月</th>
          <th>工作岗位</th>
          <th colspan="2">工作单位</th>
          <th>员工类型</th>
        </tr>
        <tr>
          <td><input type="text" value="$!{list.name}" name="Name" class="form-control"></td>
          <td><input type="text" value="$!{list.Employeeid}" name="Employeeid" class="form-control"></td>
          <td>
            <select name="Sex" class="form-control" data-value="$!{list.Sex}">
              <option value="男">男</option>
              <option value="女">女</option>
            </select>
          </td>
          <td>
            <select name="Nation" class="form-control" data-value="$!{list.Nation}">
              <option value="汉族">汉族</option>
              <option value="少数民族">少数民族</option>
            </select>
          </td>
          <td><input type="text" value="$!{list.Idcard}" name="Idcard" class="form-control"></td>
          <td>
            <input type="text" class="form-control date-picker" name="Birth" data-date-format="yyyy-mm-dd" value="$!{list.Birth}">
          </td>
          <td>
            <select name="Position" class="form-control" data-value="$!{list.Position}">
              #foreach ($one in $positionList)
              <option value="${one.id}">$!{one.name}</option>
              #end
            </select>
          </td>
          <td colspan="2"><input type="text" value="$!{list.Unit}" name="Unit" class="form-control"></td>
          <td>
            <select name="Class" class="form-control" data-value="$!{list.Class}">
              #foreach ($one in $pertypeList)
              <option value="${one.id}">$!{one.name}</option>
              #end
            </select>
          </td>
        </tr>
        <tr class="warning">
          <th>职级</th>
          <th>档次</th> 
          <th>政治面貌</th>
          <th>参加工作时间</th>
          <th>金融从业时间</th>
          <th>全日制学历</th>
          <th>全日制毕业院校</th>
          <th>学习专业</th>
          <th>婚姻状况</th>
          <th>联系电话</th> 
        </tr>
        <tr>
          <td>
            <select name="Rank" class="form-control" data-value="$!{list.Rank}">
              <option value="普通员工">普通员工</option>
              <option value="中层正职">中层正职</option>
              <option value="中层副职">中层副职</option>
            </select>
          </td>
          <td>
            <select name="Level" class="form-control" data-value="$!{list.Level}">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </td>
          <td>
            <select name="Status" class="form-control" data-value="$!{list.Status}">
              <option value="群众">群众</option>
              <option value="共产党员">共产党员</option>
              <option value="团员">团员</option>
              <option value="其他">其他</option>
            </select>
          </td>
          <td>
            <input type="text" class="form-control date-picker" name="Jobtime" data-date-format="yyyy-mm-dd" value="$!{list.Jobtime}">
          </td>
          <td>
            <input type="text" class="form-control date-picker" name="financetime" data-date-format="yyyy-mm-dd" value="$!{list.financetime}">
          </td>
          <td>
            <select name="fulltime_educ" class="form-control" data-value="$!{list.fulltime_educ}">
              <option value="本科">本科</option>
              <option value="博士">博士</option>
              <option value="硕士">硕士</option>
              <option value="大专">大专</option>
              <option value="高中">高中</option>
              <option value="中专">中专</option>
            </select>
          </td>
          <td><input type="text"  value="$!{list.fulltime_sch}" name="fulltime_sch" class="form-control"></td>
          <td><input type="text"  value="$!{list.Major}" name="Major" class="form-control"></td>
          <td>
            <select name="Married" class="form-control" data-value="$!{list.Married}">
              <option value="未婚">未婚</option>
              <option value="已婚">已婚</option>
              <option value="离异">离异</option>
              <option value="再婚">再婚</option>
              <option value="其他">其他</option>
            </select>
          </td>
          <td><input type="text" value="$!{list.Tel}" name="Tel" class="form-control"></td>
        </tr>
        <tr class="warning">
          <th colspan="2">籍贯</th>
          <th colspan="2">最终学历毕业院校</th>
          <th>最终学历专业</th>
          <th colspan="4">家庭住址</th>
          <th>用工类别</th>
        </tr>
        <tr>
          <td colspan="2"><input type="text" value="$!{list.Town}"  name="Town" class="form-control"></td>
          <td colspan="2"><input type="text" value="$!{list.final_sch}"  name="final_sch" class="form-control"></td>
          <td><input type="text" value="$!{list.final_edu}"  name="final_edu" class="form-control"></td>
          <td colspan="4"><input type="text" value="$!{list.Address}"  name="Address" class="form-control"></td>
          <td><input type="text" value="$!{list.Guard}"  name="Guard" class="form-control"></td>
        </tr>
  </table>
  
  <h4>后备人才库</h4>
  <div class="pannel">
    <div class="row">
      <div class="col-xs-5">
         <select id="reserveCtl" class="form-control form-inline">
              #foreach ($one in $ReserveList)
              <option value="${one.id}">$!{one.ReserveType}</option>
              #end
          </select>
      </div>
      <div class="col-xs-3">
        <a href="javascript:void(0)" role="button" class="btn btn-primary" id="addReserve">增加</a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-10 reserveContainer">
        <strong>已添加的后备人才库：</strong>
        #foreach ($one in $perReserveList)
        <span type="button" class="btn btn-default btn-xs del-reserve" rel="$!{one.id}">
          <span class="glyphicon glyphicon-trash"></span> $!{one.ReserveType}
        </span>
        #end
      </div>
    </div>
   
    <input type="hidden" value="$!{list.Reserve}" name="Reserve" />

  </div>
  <br>
  <input type="hidden" name="id" value="$!{list.id}">
  <input type="hidden" name="type" value="basic">
  <input type="hidden" name="action" value="save">
  <button type="submit" role="button" class="btn btn-warning">保存</button>
  </form>
</div>
  
<div id="info-study" class="info-block">
  <h3>员工学习经历</h3>
  <form action="perinfo.aspx" role="form" method="post" class="info-form">
  <table class="table table-bordered table-hover">
    <tr class="warning">
      <th>等级</th>
      <th>入学时间</th>
      <td>毕业时间</td>
      <td>毕业院校</td>
      <td>证明人</td>
      <td>专业</td>
      <td>描述</td>
    </tr>
    #foreach ($one in $learn)
   <tr>
      <td><input type="hidden" name="iid[]" value="$!{one.id}"><input type="text" value="$!{one.degree}" name="degree[]" class="form-control"></td>
      <td><input type="text" value="$!{one.starttime}" class="form-control date-picker-month" name="starttime[]" data-date-format="yyyy-mm"></td>
      <td><input type="text" value="$!{one.graduatetime}" class="form-control date-picker-month" name="graduatetime[]" data-date-format="yyyy-mm"></td>
      <td><input type="text" value="$!{one.graduatesch}" name="graduatesch[]" class="form-control"></td>
      <td><input type="text" value="$!{one.retence}" name="retence[]" class="form-control"></td>
      <td><input type="text" value="$!{one.profession}" name="profession[]" class="form-control"></td>
      <td><input type="text" value="$!{one.content}" name="content[]" class="form-control"></td>
    </tr>
  #end
  </table>
  <input type="hidden" name="id" value="$!{list.id}">
  <input type="hidden" name="type" value="study">
  <input type="hidden" name="action" value="save">
  <a href="javascript:void(0);" role="button" class="btn btn-primary add-new">新增</a>
  <button type="submit" role="button" class="btn btn-warning">保存</button>
  </form>
</div>

<div id="info-family" class="info-block">
  <form action="perinfo.aspx" role="form" method="post" class="info-form">
  <h3>员工家庭成员</h3>
  <table class="table table-bordered table-hover">
    <tr class="warning">
      <th>关系</th>
      <th>出生年月</th>
      <td>工作单位</td>
      <td>政治面貌</td>
      <td>现在情况</td>
      <td>备注</td>
    </tr>
  #foreach ($one in $family)
   <tr>
      <td><input type="hidden" name="iid[]" value="$!{one.id}"><input type="text" value="$!{one.id}" name="relation[]" class="form-control"></td>
      <td>
        <input type="text" value="$!{one.birth}" class="form-control date-picker" name="birth[]" data-date-format="yyyy-mm-dd">
      </td>
      <td><input type="text" value="$!{one.unit}" name="unit[]" class="form-control"></td>
      <td><input type="text" value="$!{one.status}" name="status[]" class="form-control"></td>
      <td><input type="text" value="$!{one.situation}" name="situation[]" class="form-control"></td>
      <td><input type="text" value="$!{one.remark}" name="remark[]" class="form-control"></td>
    </tr>
  #end
  </table>
  <input type="hidden" name="id" value="$!{list.id}">
  <input type="hidden" name="type" value="family">
  <input type="hidden" name="action" value="save">
  <a href="javascript:void(0);" role="button" class="btn btn-primary add-new">新增</a>
  <button type="submit" role="button" class="btn btn-warning">保存</button>
  </form>
</div>

<div id="info-register" class="info-block">
  <h3>证书及奖励</h3>
  <form action="perinfo.aspx" role="form" method="post" class="info-form">
  <table class="table table-bordered table-hover">
    <tr class="warning">
      <th>证书名称</th>
      <th>证书类型</th>
      <td>取得时间</td>
      <td>发证时间</td>
      <td>颁发单位</td>
      <td>种类</td>
      <td>图片</td>
      <td>证书描述</td>
    </tr>
    #foreach ($one in $register)
   <tr>
      <td><input type="hidden" name="iid[]" value="$!{one.id}"><input type="text" value="$!{one.cer_name}" name="cer_name[]" class="form-control"></td>
      <td><input type="text" value="$!{one.type}" name="type[]" class="form-control"></td>
      <td><input type="text" value="$!{one.accesstime}" class="form-control date-picker" name="accesstime[]" data-date-format="yyyy-mm-dd"></td>
      <td><input type="text" value="$!{one.issuingtime}" class="form-control date-picker" name="issuingtime[]" data-date-format="yyyy-mm-dd"></td>
      <td><input type="text" value="$!{one.unit}" name="unit[]" class="form-control"></td>
      <td><input type="text" value="$!{one.Class}" name="Class[]" class="form-control"></td>
      <td>
        #if($!{one.photo})
        <a href="$!{one.photo}" target="_blank" class="view-file">查看</a>
        #end
        <input type="file" value="" name="photo[]">
      </td>
      <td><input type="text" value="$!{one.description}" name="description[]" class="form-control"></td>
    </tr>
    #end
  </table>
  <input type="hidden" name="id" value="$!{list.id}">
  <input type="hidden" name="type" value="register">
  <input type="hidden" name="action" value="save">
  <a href="javascript:void(0);" role="button" class="btn btn-primary add-new">新增</a>
  <button type="submit" role="button" class="btn btn-warning">保存</button>
  </form>
</div>

<div id="info-reward" class="info-block">
  <h3>奖惩记录</h3>
  <form action="perinfo.aspx" role="form" method="post" class="info-form">
  <table class="table table-bordered table-hover">
    <tr class="warning">
      <th>奖罚种类</th>
      <th>时间</th>
      <td>内容</td>
      <td>部门</td>
      <td>审核人</td>
      <td>类型</td>
      <td>奖惩部门</td>
      <td>描述</td>
      <td>相关文件</td>
    </tr>
    #foreach ($one in $reward)
   <tr>
      <td><input type="hidden" name="iid[]" value="$!{one.id}"><input type="text" value="$!{one.type}" name="type[]" class="form-control"></td>
      <td><input type="text" value="$!{one.time}" class="form-control date-picker" name="time[]" data-date-format="yyyy-mm-dd"></td>
      <td><input type="text" value="$!{one.content}" name="content[]" class="form-control"></td>
      <td><input type="text" value="$!{one.department}" name="department[]" class="form-control"></td>
      <td><input type="text" value="$!{one.audit}" name="audit[]" class="form-control"></td>
      <td><input type="text" value="$!{one.Class}" name="Class[]" class="form-control"></td>
      <td><input type="text" value="$!{one.unit}" name="unit[]" class="form-control"></td>
      <td><input type="text" value="$!{one.description}" name="description[]" class="form-control"></td>
      <td>
        #if($!{one.File})
        <a href="$!{one.File}" target="_blank" class="view-file">查看</a>
        #end
        <input type="file" value="" name="File[]">
      </td>
    </tr>
    #end
  </table>
  <input type="hidden" name="id" value="$!{list.id}">
  <input type="hidden" name="type" value="reward">
  <input type="hidden" name="action" value="save">
  <a href="javascript:void(0);" role="button" class="btn btn-primary add-new">新增</a>
  <button type="submit" role="button" class="btn btn-warning">保存</button>
  </form>
</div>

<div id="info-work" class="info-block">
  <h3>工作经历</h3>
  <form action="perinfo.aspx" role="form" method="post" class="info-form">
  <table class="table table-bordered table-hover">
    <tr class="warning">
      <th>工作开始时间</th>
      <th>工作离职时间</th>
      <td>岗位</td>
      <td>工作单位</td>
      <td>离职原因</td>
      <td>工作内容</td>
    </tr>
    #foreach ($one in $work)
   <tr>
      <td><input type="hidden" name="iid[]" value="$!{one.id}"><input type="text" value="$!{one.attacktime}" class="form-control date-picker" name="attacktime[]" data-date-format="yyyy-mm-dd"></td>
      <td><input type="text" value="$!{one.quittime}" class="form-control date-picker" name="quittime[]" data-date-format="yyyy-mm-dd"></td>
      <td><input type="text" value="$!{one.position}" name="position[]" class="form-control"></td>
      <td><input type="text" value="$!{one.unit}" name="unit[]" class="form-control"></td>
      <td><input type="text" value="$!{one.reason}" name="reason[]" class="form-control"></td>
      <td><input type="text" value="$!{one.content}" name="content[]" class="form-control"></td>
    </tr>
    #end
  </table>
  <input type="hidden" name="id" value="$!{list.id}">
  <input type="hidden" name="type" value="work">
  <input type="hidden" name="action" value="save">
  <a href="javascript:void(0);" role="button" class="btn btn-primary add-new">新增</a>
  <button type="submit" role="button" class="btn btn-warning">保存</button>
  </form>
</div>

<div id="info-holiday" class="info-block">
  <h3>休假记录</h3>
 <form action="perinfo.aspx" role="form" method="post" class="info-form">
  <table class="table table-bordered table-hover">
    <tr class="warning">
      <th>休假名称</th>
      <th>休假天数</th>
      <td>休假原因</td>
      <td>批准人</td>
      <td>休假开始时间</td>
      <td>休假结束时间</td>
      <td>实休天数</td>
      <td>备注</td>
    </tr>
     #foreach ($one in $holiday)
   <tr>
      <td><input type="hidden" name="iid[]" value="$!{one.id}"><input type="text" value="$!{one.holiday}" name="holiday[]" class="form-control"></td>
      <td><input type="text" value="$!{one.days}" name="days[]" class="form-control"></td>
      <td><input type="text" value="$!{one.reason}" name="reason[]" class="form-control"></td>
      <td><input type="text" value="$!{one.audit}" name="audit[]" class="form-control"></td>
      <td><input type="text" value="$!{one.begintime}"class="form-control date-picker" name="begintime[]" data-date-format="yyyy-mm-dd"></td>
      <td><input type="text" value="$!{one.Endtime}"class="form-control date-picker" name="Endtime[]" data-date-format="yyyy-mm-dd"></td>
      <td><input type="text" value="$!{one.days1}" name="days1[]" class="form-control"></td>
      <td><input type="text" value="$!{one.remark}" name="remark[]" class="form-control"></td>
    </tr>
    #end
  </table>
  <input type="hidden" name="id" value="$!{list.id}">
  <input type="hidden" name="type" value="holiday">
  <input type="hidden" name="action" value="save">
  <a href="javascript:void(0);" role="button" class="btn btn-primary add-new">新增</a>
  <button type="submit" role="button" class="btn btn-warning">保存</button>
  </form>
</div>

</div>
<script src="statics/js/datepicker.js"></script>
<script src="statics/js/perinfo.js"></script>
#include("layout/footer.vm")