#include("layout/header.vm")
<div id="content">
<h2>技术职务统计</h2>
  <table class="table table-bordered table-hover">
    #foreach ($one in $Position)
    <tr>
      <td>$!{one.CountName}</td>
      <td width="100">$!{one.Count}</td>
    </tr>
    #end
  </table>

  <h2>部门统计</h2>
  <table class="table table-bordered table-hover">
    #foreach ($one in $branch)
    <tr>
      <td>$!{one.CountName}</td>
      <td width="100">$!{one.Count}</td>
    </tr>
    #end
  </table>

<h2>工龄</h2>
  <table class="table table-bordered table-hover">
    #foreach ($one in $age)
    <tr>
      <td>$!{one.CountName}</td>
      <td width="100">$!{one.Count}</td>
    </tr>
    #end
  </table>

<h2>政治面貌</h2>
  <table class="table table-bordered table-hover">
    #foreach ($one in $Status)
    <tr>
      <td>$!{one.CountName}</td>
      <td width="100">$!{one.Count}</td>
    </tr>
    #end
  </table>

<h2>文化程度</h2>
  <table class="table table-bordered table-hover">
    #foreach ($one in $edc)
    <tr>
      <td>$!{one.CountName}</td>
      <td width="100">$!{one.Count}</td>
    </tr>
    #end
  </table>

</div>
#include("layout/footer.vm")