#include("layout/header.vm")
<div id="content">
<h2>技术职务统计</h2>
  <table class="table table-bordered table-hover">
    <tr>
      <td>老总</td>
      <td>123</td>
    </tr>
    <tr>
      <td>经理</td>
      <td>22</td>
    </tr>
  </table>

<h2>工龄</h2>
  <table class="table table-bordered table-hover">
    <tr>
      <td>老总</td>
      <td>123</td>
    </tr>
    <tr>
      <td>经理</td>
      <td>22</td>
    </tr>
  </table>

<h2>政治面貌</h2>
  <table class="table table-bordered table-hover">
    <tr>
      <td>老总</td>
      <td>123</td>
    </tr>
    <tr>
      <td>经理</td>
      <td>22</td>
    </tr>
  </table>

<h2>文化程度</h2>
  <table class="table table-bordered table-hover">
    <tr>
      <td>老总</td>
      <td>123</td>
    </tr>
    <tr>
      <td>经理</td>
      <td>22</td>
    </tr>
  </table>

</div>
#include("layout/footer.vm")