#parse("layout/header.vm")

<div id="content" class="container">
  #if($msg)
    <div class="alert alert-success">$msg</div>
  #end

   <div class="headship-edit-wrap" style="display: none;">
    <h3>工作岗位修改</h3>
    <div class="pannel">
    <form action="addHeadShip.aspx" method="post" role="form" id="headship-edit-form">
      <input type="hidden" name="action" value="update">
      <input type="hidden" name="id" value="">
      <div class="form-group">
        <label for="headship-name-edit">人才类型</label>
        <input type="text" class="form-control" id="headship-name-headship" placeholder="请输入工作岗位名称" name="name">
      </div>
      <div class="form-group">
        <label for="headship-info-edit">说明</label>
        <input type="text" class="form-control" id="headship-info-headship" name="info">
      </div>
      <button type="submit" class="btn btn-primary">保存</button>
      <button class="btn btn-default edit-cancel">取消</button>
    </form>
  </div>
  </div>

  <h3>工作岗位列表</h3>
  <table class="table table-bordered table-hover">
      <thead>
        <tr class="warning">
          <th>名称</th>
          <th>说明</th>
          <th width="120"></th>
        </tr>
      </thead>
      <tbody>
        #foreach( $one in $list )
        <tr data-id="$one.id">
          <td><span class="link-data" rel="name">$!{one.name}</span></td>
          <td><span class="link-data" rel="info">$!{one.info}</span></td>
          <td>
            <span class="link-data" rel="id" style="display: none;">$!{one.id}</span>
            <button href="javascript:void(0);" class="btn btn-primary btn-xs headship-edit" role="button">修改</button>
            <button href="javascript:void(0);" class="btn btn-danger btn-xs headship-del" role="button">删除</button>
          </td>
        </tr>
        #end
      </tbody>
  </table>
  

  <br>
  <h3>新添工作岗位</h3>
  <div class="pannel">
    <form action="addHeadShip.aspx" method="post" role="form" id="headship-form">
      <input type="hidden" name="action" value="add">
      <div class="form-group">
        <label for="headship-name">名称</label>
        <input type="text" class="form-control" id="headship-name" placeholder="请输入工作岗位名称" name="name">
      </div>
      <div class="form-group">
        <label for="headship-info">说明</label>
        <input type="text" class="form-control" id="headship-info" name="info">
      </div>
      <button type="submit" class="btn btn-primary">新添</button>
    </form>
  </div>

</div>

<script src="statics/js/headship.js"></script>
#include("layout/footer.vm")