#parse("layout/header.vm")

<nav></nav>

<div id="content">
  #if($msg)
    <div class="alert alert-success">$msg</div>
  #end

  <div class="pannel">
    <form action="HRData.aspx" method="get" role="form" id="perlist-form" class=" form-inline">
      <label for="name">请输入姓名:&nbsp;</label>
      <div class="form-group">
        <input type="text" class="form-control" id="name" name="name">
      </div>
      <div class="form-group">
      <input type="hidden" name="branchid" value="0">
      <button type="submit" class="btn btn-primary">查询</button>
	  #if($role == 0 || $role == 3)
      <a href="" class="btn btn-default addper" role="button" target="_blank">新增</a>
	  #end
     </div>
    </form>
  </div>

  <h3>员工列表</h3>
	<table class="table table-bordered table-hover">
  		<thead>
  			<tr class="warning">
  				<th>姓名</th>
  				<th>员工代号</th> 
          <td>性别</td>
          <td>出生年月</td>
          <td>工作单位</td>
          <td>工作岗位</td>
          <td>参加本系统工作时间</td>
  				<th width="150">维护</th>
  			</tr>
  		</thead>
  		<tbody>
  			#foreach( $one in $list )
  			<tr data-id="$one.id">
  				<td>$!{one.Name}</td>
          <td>$!{one.Employeeid}</td>
  				<td>$!{one.Sex}</td>
          <td>$!{one.Birth}</td>
          <td>$!{one.Unit}</td>
          <td>$!{one.PositionName}</td>
          <td>$!{one.Jobtime}</td>
  				<td>
            <a href="perinfo.aspx?id=${one.Employeeid}" role="button" class="btn btn-default btn-xs" target="_blank">查询</a>
            #if($role == 0 || $role == 3)
            <a href="perinfo.aspx?action=add&id=${one.Employeeid}" role="button" class="btn btn-primary btn-xs" target="_blank">维护</a>
			<a href="javascript:void(0)" role="button" class="btn btn-danger btn-xs del-per">删除</a>
            #end
          </td>
  			</tr>
  			#end
  		</tbody>
	</table>
  
</div>
<script src="statics/js/perlist.js"></script>
#include("layout/footer.vm")