#include("layout/header.vm")
<nav></nav>
<div id="content">
<h2>人事资料查询</h2>
<div class="pannel"> 
  <form action="" method="post" role="form" class="form-inline" id="query-form">
    <input type="hidden" name="UnitID" value="">
    <div class="row">
      <div class="form-group col-md-3">
        <label>姓名</label>
        <input type="text" class="form-control" name="Name" value=""/>
      </div>
      <div class="form-group col-md-3">
        <label>员工代号</label>
        <input type="text" class="form-control" name="Employeeid" value=""/>
      </div>
      <div class="form-group col-md-3">
        <label>工龄/年</label>
        <input type="text" class="form-control" name="age" value="">
      </div>
      <div class="form-group col-md-3">
        <label>出生年月</label>
        <input type="text" class="form-control date-picker" name="Birth" data-date-format="yyyy-mm-dd" value="">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group col-md-3">
        <label>职级</label>
        <select name="Rank" class="form-control">
            <option value="">不限</option>
            #include("include/rank.vm")
        </select>
      </div>
      <div class="form-group col-md-3">
        <label>档次</label>
        <select name="Level" class="form-control">
               <option value="">不限</option>
               #include("include/level.vm")
        </select>
      </div>
      <div class="form-group col-md-3">
        <label>全日制学历</label>
        <select name="fulltime_educ" class="form-control">
                <option value="">不限</option>
                #include("include/educ.vm")
        </select>
      </div>
       <div class="form-group col-md-3">
        <label>用工类别</label>
        <input type="text" value=""  name="Guard" class="form-control">
      </div>
    </div>
    <br>
    <button type="submit" role="button" class="btn btn-warning">查询</button>
  </form>
</div>

<h2>查询结果</h2>
<div class="long-table">
  <table class="table table-bordered table-hover ">

    <tr>
      <th style="text-align:center;vertical-align:middle;"><input type="checkbox" class="check-all"></th>
      <th>序号</th>
      <th>姓名</th>
      <th>身份证号</th>
      <th>性别</th>
      <th>政治面貌</th>
      <th>加入党员时间</th>
      <th>出生日期</th>
      <th>参加工作时间</th>
      <th>参加金融工作时间</th>
      <th>全日制学历毕业院校</th>
      <th>全日制学历所学专业</th>
      <th>最终学历院校</th>
      <th>最终学历专业</th>
      <th>专业技术资格</th>
      <th>工作单位</th>
      <th>工作岗位</th>
      <th>用工类别</th>
      <th>后备人才库</th>
      <th>身份证号</th>
      <th>人员状态</th>
      <th>联系电话</th>
      <th></th>
    </tr>
    #foreach ($one in $list)
    <tr>
      <th style="text-align:center;vertical-align:middle;"><input type="checkbox" class="check-one" value="$!{one.id}"></th>
      <td>$!{one.Employeeid}</td>
      <td>$!{one.Name}</td>
      <td>$!{one.Name}</td>
      <td>$!{one.Sex}</td>
      <td>$!{one.Status}</td>
      <td>$!{one.Jobtime}</td>
      <td>$!{one.Birth}</td>
      <td>$!{one.Jobtime}</td>
      <td>$!{one.financetime}</td>
      <td>$!{one.fulltime_sch}</td>
      <td>$!{one.Major}</td>
      <td>$!{one.final_sch}</td>
      <td>$!{one.final_edu}</td>
      <td>专业技术资格</td>
      <td>$!{one.Unit}</td>
      <td>$!{one.PositionName}</td>
      <td>$!{one.Guard}</td>
      <td>$!{one.Reserve}</td>
      <td>$!{one.IDcard}</td>
      <td>$!{one.statename}</td>
      <td>$!{one.Tel}</td>
      <td><a href="perinfo.aspx?id=${one.Employeeid}" role="button" class="btn btn-default btn-xs" target="_blank">查询</a></td>
    </tr>
    #end

  </table>
</div>
<br>
<a type="button" class="btn btn-primary" href="javascript:void(0)" id="exportCheck">已选导出Excel</a>
<a type="button" class="btn btn-primary" href="javascript:void(0)" id="exportAll">全部导出Excel</a>
<form action="perInfoQuery.aspx" id="downloadExcel" target="_blank" style="display:none;">
  <input type="hidden" name="action" value="excel">
  <input type="ids" name="ids" value="">
</form>
</div>
<script src="statics/js/datepicker.js"></script>
<script src="statics/js/query.js"></script>
#include("layout/footer.vm")