#include("layout/header.vm")
<nav></nav>
<div id="content">
<h2>人事资料查询</h2>
<div class="pannel">
  <form action="" method="post" role="form" class="form-inline" id="query-form">
    <input type="hidden" name="UnitID" value="">
    <div class="row">
      <div class="form-group col-md-3">
        <label>姓名</label>
        <input type="text" class="form-control" name="Name" />
      </div>
      <div class="form-group col-md-3">
        <label>员工代号</label>
        <input type="text" class="form-control" name="Employeeid" />
      </div>
      <div class="form-group col-md-3">
        <label>出生年月</label>
        <input type="text" class="form-control date-picker" name="Birth" data-date-format="yyyy-mm-dd" value="">
      </div>
      <div class="form-group col-md-3">
        <label>参加工作时间</label>
        <input type="text" class="form-control date-picker" name="Jobtime" data-date-format="yyyy-mm-dd" value="">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group col-md-3">
        <label>职级</label>
        <select name="Rank" class="form-control">
            <option value="">不限</option>
            <option value="普通员工">普通员工</option>
            <option value="中层正职">中层正职</option>
            <option value="中层副职">中层副职</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label>档次</label>
        <select name="Level" class="form-control">
               <option value="">不限</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label>全日制学历</label>
        <select name="fulltime_educ" class="form-control">
                <option value="">不限</option>
                <option value="本科">本科</option>
                <option value="博士">博士</option>
                <option value="硕士">硕士</option>
                <option value="大专">大专</option>
                <option value="高中">高中</option>
                <option value="中专">中专</option>
        </select>
      </div>
       <div class="form-group col-md-3">
        <label>用工类别</label>
        <input type="text" value=""  name="Guard" class="form-control">
      </div>
    </div>
    <br>
    <div class="row">
       <div class="form-group col-md-3">
        <label>工龄</label>
        <input type="text" class="form-control" name="age" value="">
      </div>
    </div>
    <br>
    <button type="submit" role="button" class="btn btn-warning">查询</button>
  </form>
</div>

<h2>查询结果</h2>
<div class="long-table">
  <table class="table table-bordered table-hover ">

    <tr>
      <th>序号</th><th>姓名</th><th>身份证号</th><th>性别</th><th>政治面貌</th><th>加入党员时间</th><th>出生日期</th><th>参加工作时间</th><th>参加金融工作时间</th><th>全日制学历毕业院校</th><th>全日制学历所学专业</th><th>最终学历院校</th><th>最终学历专业</th><th>专业技术资格</th><th>工作单位</th><th>工作岗位</th><th>用工类别</th><th>后备人才库</th><th>银行卡号</th><th>人员状态</th><th>联系电话</th>
    </tr>

    <tr>
      <td>序号</td><td>姓名</td><td>身份证号</td><td>性别</td><td>政治面貌</td><td>加入党员时间</td><td>出生日期</td><td>参加工作时间</td><td>参加金融工作时间</td><td>全日制学历毕业院校</td><td>全日制学历所学专业</td><td>最终学历院校</td><td>最终学历专业</td><td>专业技术资格</td><td>工作单位</td><td>工作岗位</td><td>用工类别</td><td>后备人才库</td><td>银行卡号</td><td>人员状态</td><td>联系电话</td>
    </tr>

  </table>
</div>
</div>
<script src="statics/js/datepicker.js"></script>
<script src="statics/js/query.js"></script>
#include("layout/footer.vm")