#include("layout/header.vm")

<div id="content" class="container">
  #if($msg)
    <div class="alert alert-success">$msg</div>
  #end

   <div class="ptype-edit-wrap" style="display: none;">
    <h3>后备人才类型修改</h3>
    <div class="pannel">
    <form action="reserve.aspx" method="post" role="form" id="ptype-edit-form">
      <input type="hidden" name="action" value="update">
      <input type="hidden" name="id" value="">
      <div class="form-group">
        <label for="ReserveType-edit">人才类型</label>
        <input type="text" class="form-control" id="ReserveType-edit" placeholder="请输入人才类型名称" name="ReserveType">
      </div>
      <button type="submit" class="btn btn-primary">保存</button>
      <button class="btn btn-default edit-cancel">取消</button>
    </form>
  </div>
  </div>

  <h3>后备人才类型列表</h3>
  <table class="table table-bordered table-hover">
      <thead>
        <tr class="warning">
          <th>类型</th>
          <th width="120"></th>
        </tr>
      </thead>
      <tbody>
        #foreach( $one in $list )
        <tr data-id="$one.id">
          <td><span class="link-data" rel="ReserveType">$!{one.ReserveType}</span></td>
          <td>
            <span class="link-data" rel="id" style="display: none;">$!{one.id}</span>
            <button href="javascript:void(0);" class="btn btn-primary btn-xs ptype-edit" role="button">修改</button>
            <button href="javascript:void(0);" class="btn btn-danger btn-xs ptype-del" role="button">删除</button>
          </td>
        </tr>
        #end
      </tbody>
  </table>
  

  <br>
  <h3>新添后备人才类型</h3>
  <div class="pannel">
    <form action="reserve.aspx" method="post" role="form" id="ptype-form">
      <input type="hidden" name="action" value="add">
      <div class="form-group">
        <label for="ReserveType">人才类型</label>
        <input type="text" class="form-control" id="ReserveType" placeholder="请输入人才类型名称" name="ReserveType">
      </div>
      <button type="submit" class="btn btn-primary">新添</button>
    </form>
  </div>

</div>

<script src="statics/js/ptype.js"></script>
#include("layout/footer.vm")