
              <option value="父亲">父亲</option>
              <option value="母亲">母亲</option>
              <option value="配偶">配偶</option>
              <option value="兄弟姐妹">兄弟姐妹</option>
              <option value="子女">子女</option>
              <option value="其他">其他</option>